{
    "ignore": ["node_modules/**"],
    "plugins": ["@babel/plugin-transform-object-assign"],
    "env": {
        "test": {
            "presets": ["@babel/preset-env"]
        },
        "release": {
            "presets": [["@babel/env", { "modules": false }]]
        }
    }
}
