{
    "ignore": [
        "node_modules/**"
    ],
    "env": {
        "test": {
            "presets": [
                "@babel/preset-env"
            ],
            "plugins": [
                "@babel/plugin-transform-object-assign"
            ]
        },
        "release": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "modules": false
                    }
                ]
            ],
            "sourceMap": false,
            "plugins": [
                "@babel/plugin-transform-object-assign"
            ]
        }
    }
}
