Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp

.DS_Store
.AppleDouble
.LSOverride

Icon

._*

.Spotlight-V100
.Trashes

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.idea

node_modules

_site
.sass-cache

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

coverage